@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}
body{
    font-family: sans-serif;
    overflow: hidden;
}
nav{
    height: 50px;
    background: #063247;
    box-shadow: 0 3px 15px rgba(0,0,0,.4);
}
   
nav ul{
    
    float: right;
    margin-right: 30px;
}

nav ul li{
    display:inline-block;
}
nav ul li a{
    color: white;
    display: block;
    padding: 0 15px;
    line-height: 50px;
    font-size: 17px;
    background: #063247;
    transition: .5s;
}
nav ul li ul li a{
    font-size: 14px;
}
nav ul li a:hover,
nav ul li a.active{
    color:  #23dbdb;

}
nav ul ul{
    position: absolute;
    top: 50px;
    border-top: 3px solid #23dbdb;
    opacity:0;
    visibility:hidden;
}
nav ul li:hover > ul{
    top: 50px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
}
nav ul ul li{
    width: 210px;
    display: list-item;
    position: relative;
    border: 1px solid #042331;
    border-top:none;

}
nav ul ul li a{
    line-height:50px;

}
section{
    background: url(../image/bghome.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}