<!DOCTYPE html>
<html lang="en">
<head>
    <title>Upload Excel File to MySQL</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" th:href="@{../css/MatchTitle.css}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	
</head>
 
<body class="ranhcon">
	<div class="container h-100">
	<div class="h-100">
		<div class="row h-100 justify-content-center align-items-center">
			<div class="col-sm-5">
				<h3>Upload Excel File to Database</h3>
				<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
					<div class="form-group">
						<label class="control-label" for="uploadfile">Upload File:</label>
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						<input type="file" class="form-control" id="uploadfile" placeholder="Upload File"  name="uploadfile"></input>
					</div>
					<button type="submit" class="btn btn-default" id="btnSubmit">Lấy tiêu đề </button>
				</form>
				
				<div th:if="${message}">
					<span th:text="${message}"/>
					<!-- <a href="/file">Download Excel File from MySQL</a> -->
				</div>

			</div>
		</div>
	</div>
	</div>  

<form method="POST" enctype="multipart/form-data" action="/admin/GiaoDien">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	<table class="tab">
		<tr>
			<th>Số thứ tự:</th>
			<th><input   onclick="setTitle(this)" id="stt" name = "stt" ></th>
		</tr>
		<tr>
			<th>Tên: </th>
			<th><input  onclick="setTitle(this)" id="ten"  name = "ten" ></th>
		</tr>
		<tr>
			<th>Model:</th>
			<th><input  onclick="setTitle(this)" id="model" name = "model"></th>
		</tr>
		<tr>
			<th>Serial: </th>
			<th><input  onclick="setTitle(this)" id="serial"  name="serial"></th>
		</tr>
		<tr>
			<th>Hãng sản xuất:</th>
			<th><input  onclick="setTitle(this)" id="hangsanxuat"  name = "hangsx"></th>
		</tr>
		<tr>
			<th>Nước sản xuất:</th>
			<th><input  onclick="setTitle(this)" id="nuocsanxuat"  name = "nuocsx"></th>
		</tr>
		<tr>
			<th>Năm sản xuất: </th>
			<th><input  onclick="setTitle(this)" id="namsanxuat"  name="namsx"></th>
		</tr>
		<tr>
			<th>Đơn vị: </th>
			<th><input  onclick="setTitle(this)" id="donvi"  name="donvi"></th>
		</tr>
	<button type="submit" class="btn btn-default" id="btnSubmit">Upload </button>

	</table>
	
	<table class="tab">
		<tr>
			<th>Số lượng: </th>
			<th><input  onclick="setTitle(this)" id="soluong"  name="soluong"></th>
		</tr>
		<tr>
			<th>Đơn giá VND: </th>
			<th><input  onclick="setTitle(this)" id="dongiavnd"  name="dongiavnd"></th>
		</tr>
		<tr>
			<th>Đơn giá USD:</th>
			<th> <input  onclick="setTitle(this)" id="dongiausd"  name="dongiausd"></th>
		</tr>
		<tr>
			<th>Thành tiền:</th>
			<th> <input  onclick="setTitle(this)" id="thanhtien"  name="thanhtien"></th>
		</tr>
		<tr>
			<th>Khoa sử dụng: </th>
			<th><input  onclick="setTitle(this)" id="khoasudung"  name="khoa"></th>
		</tr>
		<tr>
			<th>Ngày bàn giao: </th>
			<th><input  onclick="setTitle(this)" id="ngaybangiao"  name="ngaybangiao"></th>
		</tr>
		<tr>
			<th>Giấy tờ:</th>
			<th> <input  onclick="setTitle(this)" id="giayto"  name="giayto"></th>
		</tr>
		<tr>
			<th>Nguồn: </th>
			<th><input  onclick="setTitle(this)" id="nguon"  name="nguon"> </th>
		</tr>
		<tr>
			<th>Ghi chú:</th>
			<th><input  onclick="setTitle(this)" id="ghichu" name="ghichu"></th>
		</tr>
	</table>
	

</form>
	<div id="London" class="tabcontent" >
		<table>
			<tr th:each="tieuDe, iterStat : ${tieuDe}">     
        	<td th:if="${tieuDe}"><input onclick="getTitle(this)" th:value="${tieuDe}" type="button"></input></td>
		</table>

	</div>

	
</body>
<script>
	s =""
function getTitle(elm) {
  s = elm.getAttribute('value');
}
function setTitle(elm) {
  elm.defaultValue=s;
}
</script>
</html>