<!DOCTYPE html>
<html lang="vn" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Trang chu</title>
        <link rel="stylesheet" type="text/css" th:href="@{css/home.css}"> 
    </head>
    <body>
        <nav>
            
            <ul>
                
                <li><a class="active" href="#">Trang chủ</a> </li>
                <li><a href="#">Phòng ban <i class="fas fa-caret-down"></i></a>
                    <ul>
                        <li><a href="#">HSCC</a></li>
                        <li><a href="#">Nhi</a></li>
                        <li><a href="#">Lao</a></li>
                    </ul> 
                </li>
                <li><a href="#">Thiết bị</a> </li>
                <li><a href="#">Báo cáo- Thống kê <i class="fas fa-caret-down"></i></a>
                    <ul>
                        <li><a href="#">Báo cáo</a></li>
                        <li><a href="#">Thống kê</a></li>
                        
                    </ul>
                </li>
                <li><a href="#">Lập phiếu <i class="fas fa-caret-down"></i></a>
                    <ul>
                        <li><a href="#">Phiếu yêu cầu sửa chữa</a></li>
                        <li><a href="#">Phiếu bảo dưỡng</a></li>
                        <li><a href="#">Phiếu bàn giao</a></li>
                    </ul>
                </li>
                <li><a href="userinfo">Cá nhân staff</a> </li>
                
                
            </ul>
            
        </nav>

        <section></section>
    </body>
</html>