<!DOCTYPE html>
<html>
<head>
<title>Spring Boot Security</title>
</head>
<body>
  <h2>User Page</h2>
  <h3>
    Welcome : <span th:utext="${#request.userPrincipal.name}"></span>
    Họ và tên: Nguyễn Văn B </br>
    Mã nhân viên: user1 </br>
    Mã phòng ban: vattu </br>
    Giói tính: Nam </br>
    Ngày sinh: 07/02/1984 </br>
    Email: b.nguyenvan@gmail.com </br>
    Điện thoại: 086430022 </br>
    Chứng minh nhân dân/Căn cước công dân: 0567343226 </br>
  </h3>
  <br/>
  <form th:action="@{/j_spring_security_logout}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="submit" value="Logout" />
  </form>
</body>
</html>